<html>
    <head>
        <title>Martinas Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/"Martinas Blog</a></h1>
        </div>

        <div>
            <p>published: 21.09.2019, 16:40</p>
            <h2><a href="">Mein erster Post</a></h2>
            <p>Hallo, das ist wie gesagt der erste Post. Toll.</p>
        </div>

        <div>
            <p>published: 21.09.2019, 16:43</p>
            <h2><a href="">Mein zweiter Post</a></h2>
            <p>Der zweite Post ist sogar noch besser.</p>
        </div>
    </body>
</html>